<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap" rel="stylesheet">
    <title>Image to text</title>
</head>
<body style="background-color: #4CAF50;">
    <div class="centerV container">
        <div>
            <h1>
                Image to text converter
            </h1>
        </div>
        <div class="centerh">
            <form id="form" action="/upload" method="POST" enctype="multipart/form-data">
                <input class="form-control" type="file" name="uploadedImage"><br><br>
                <button type="submit" class="btn btn-outline-success" onclick="convertClick()">Convert</button>
            </form>
            <div id="conText" class="convText">
                <h2 id="conTitle">
                    <%= title %>
                </h2>
                
                <hr>
            
                <p id="conText">
                    <%= converted %>
                </p>
                <div class="d-flex justify-content-center">
                    <div id="loadbar" class="spinner-border text-success" role="status" style="display: none;">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                
            </div>    
            
        </div>
    </div>
    <script>
        var form = document.getElementById("form");
            var title = "<%= title %>";
            var converterText ="<%= converted %>";

            const conTextPanel = document.getElementById("conText");
            const titleEle = document.getElementById("conTitle");
            const conTextEle = document.getElementById("conText");
            const load = document.getElementById("loadbar");
            load.style.display="none";
            
            
            if(title==""){
                conTextPanel.style.display="none";

            }else{
                conTextPanel.style.display="block";
            }

        function convertClick(){
            load.style.display="block";
            form.submit();
            conTextPanel.style.display="block";
            

            
        }
    </script>
    
</body>
</html>